.App {
  text-align: center;
}
.App-header {
  background-color: white;
  min-height: 100vh;
  display: unset;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-button {
  padding-left: 1em !important;
  padding-right: 1em !important;
  border: none;
  background-color: #00a890 !important;
  color: black !important;
  text-align: center !important;
  border-radius: 4px;
}

